<mat-form-field
  class="example-form-field"
  appearance="fill"
  (click)="changeBlockMayusStatus($event)"
>
  <mat-label>Data</mat-label>
  <input
    matInput
    type="text"
    [(ngModel)]="value"
    (blur)="changeBlockMayusStatus($event)"
  />
  <button *ngIf="showUppercase" matSuffix mat-icon-button aria-label="Clear">
    <mat-icon>keyboard_double_arrow_up</mat-icon>
  </button>
  <mat-hint>Type with Block Mayus on to activate the icon</mat-hint>
</mat-form-field>

<mat-form-field class="example-form-field" appearance="fill">
  <mat-label>Input</mat-label>
  <input matInput />
</mat-form-field>

<mat-form-field class="example-form-field" appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="example-form-field" appearance="fill">
  <mat-label>Textarea</mat-label>
  <textarea matInput></textarea>
</mat-form-field>
